{% extends "base_mobile.html" %}

{% block content %}
	<ul id="leftSidebar" class="mobile-index-left-sidebar-container">
		{% for video in videos %}
			<li class="mobile-index-left-video-container"><iframe src="https://www.youtube.com/embed/{{ video.video_id }}" frameBorder="0"></iframe></li>
		{% endfor %}
	</ul>
	<button id="leftSidebarButtonOpen" class="mobile-sidebar-button mobile-left-sidebar-button-open" type="button" onclick="openLeft()">
		<p class="mobile-index-sidebar-button-text">&#10095</p>
	</button>
	<button id="rightSidebarButtonClose" class="mobile-sidebar-button mobile-right-sidebar-button-close" type="button" onclick="closeRight()">
		<p class="mobile-index-sidebar-button-text">&#10095</p>
	</button>
	<ul id="postsContainer" class="mobile-index-posts-container">
		<li class="mobile-index-posts-heading-container">
			<h1 class="mobile-index-posts-heading">Latest Posts</h1>
		</li>
		{% for post in posts %}
			<li class="mobile-index-post-container {% if post.category == 'Technology' %}rine-dark-blue-background{% elif post.category == 'Music' %}rine-dark-purple-background{% elif post.category == 'Gaming' %}rine-dark-magenta-background{% endif %}">
				<a href="{% url 'post' post.pk %}"><img class="mobile-index-post-image" src="{{ post.image.url }}"/></a>
				<div class="mobile-index-post-text-container">
					<h2><a href="{% url 'post' post.pk %}">{{ post.title }}</a></h2>
					<p><br>
						{{ post.date }} - 
						{% if post.category == "Technology" %}
							<span class="mobile-index-post-text-category rine-light-blue">{{ post.category }}</span>
						{% elif post.category == "Music" %}
							<span class="mobile-index-post-text-category rine-light-purple">{{ post.category }}</span>
						{% elif post.category == "Gaming" %}
							<span class="mobile-index-post-text-category rine-light-magenta">{{ post.category }}</span>
						{% endif %}
						<br><br>
					</p>
					{{ post.body | safe | truncatewords:32}}<br/><br/>
					<a href="{% url 'post' post.pk %}">READ MORE »</a>
				</div>
			</li>
		{% endfor %}
	</ul>
	<div id="rightSidebar" class="mobile-index-right-sidebar-container">
		{{ right_side_bar_content.body | safe}}
	</div>
	<button id="leftSidebarButtonClose" class="mobile-sidebar-button mobile-left-sidebar-button-close" type="button" onclick="closeLeft()">
		<p class="mobile-index-sidebar-button-text">&#10094</p>
	</button>
	<button id="rightSidebarButtonOpen" class="mobile-sidebar-button mobile-right-sidebar-button-open" type="button" onclick="openRight()">
		<p class="mobile-index-sidebar-button-text">&#10094</p>
	</button>
{% endblock %}
