{% extends "base.html" %}

{% block content %}
	<ul class="home-side-container home-left-container">
		{% for video in videos %}
			<li><iframe class="home-left-video-container" src="https://www.youtube.com/embed/{{ video.video_id }}" frameBorder="0"></iframe></li>
		{% endfor %}
	</ul>
	<ul class="home-posts-container">
		<li class="home-posts-heading-container">
			<p class="home-posts-heading">Latest Posts</p>
		</li>
		{% for post in posts %}
			<li class="home-post-container {% if post.category == 'Technology' %}rine-dark-blue-background{% elif post.category == 'Music' %}rine-dark-purple-background{% elif post.category == 'Gaming' %}rine-dark-magenta-background{% endif %}">
				<div class="home-post-image-container">
					<a href="{% url 'post' post.pk %}"><img class="home-post-image" src="{{ post.image.url }}"/></a>
				</div>
				<div class="home-post-text-container">
					<div class="home-post-text-title-container">
						<p class="home-post-text-title"><a href="{% url 'post' post.pk %}">{{ post.title }}</a></p>
					</div>
					<div class="home-post-text-metadata-container">
						<p>
							{{ post.date }} - 
							{% if post.category == "Technology" %}
								<span class="home-post-text-category rine-light-blue">{{ post.category }}</span>
							{% elif post.category == "Music" %}
								<span class="home-post-text-category rine-light-purple">{{ post.category }}</span>
							{% elif post.category == "Gaming" %}
								<span class="home-post-text-category rine-light-magenta">{{ post.category }}</span>
							{% endif %}
						</p>
					</div>
					<div class="home-post-text-excerpt-container">
						{{ post.body | safe | truncatewords:32}}
					</div>
					<div class="home-post-text-read-more-container">
						<p class="home-post-text-read-more"><a href="{% url 'post' post.pk %}">READ MORE »</a></p>
					</div>
				</div>
			</li>
		{% endfor %}
	</ul>
	<div class="home-side-container home-right-container">
		<div class="home-right-child-container">
			{{ right_side_bar_content.body | safe}}
		</div>
	</div>
{% endblock %}
