.home-side-container {
    bottom: 0;
    margin-top: 4rem;
    overflow-y: scroll;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    position: fixed;
    scrollbar-width: thin;
    top: 0;
    width: 20%;
}

.home-left-container {
    background-image: linear-gradient(var(--rine-dark-blue), var(--rine-dark-magenta));
    left: 0;
    scrollbar-color: var(--rine-medium-purple) black;
}

.home-left-video-container {
    margin-bottom: 4%;
}

.home-right-container {
    background-image: linear-gradient(var(--rine-dark-blue), var(--rine-dark-magenta));
    direction: rtl;
    padding-bottom: 1%;
    scrollbar-color: var(--rine-medium-purple) black;
    right: 0;
}

.home-right-child-container {
    direction: ltr;
}

.home-posts-container {
    margin-top: 2rem;
    width: 45%;
}

.home-posts-heading-container {
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.home-posts-heading {
    font-size: 2rem;
    font-weight: bold;
}

.home-post-container {
    border-radius: 0.75rem;
    box-shadow: 0.5rem 0.5rem 0.5rem black;
    display: flex;
    margin-bottom: 3rem;
}

.home-post-image-container {
    max-width: 30%;
}

.home-post-image {
    border-radius: 0.75rem 0rem 0rem 0.75rem;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    width: 100%;
}

.home-post-text-container {
    margin: 1rem;
    position: relative;
}

.home-post-text-title-container {
    margin-bottom: 1rem;
}

.home-post-text-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.home-post-text-metadata-container {
    margin-bottom: 1rem;
}

.home-post-text-category {
    font-weight: bold;
}

.home-post-text-excerpt-container {
    margin-bottom: 2.5rem;
}

.home-post-text-read-more-container {
    bottom: 0;
    position: absolute;
}
