.mobile-login-wrapper {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 90vw;
}

.login-container, .mobile-login-container {
    border-radius: 0.75rem;
    box-shadow: var(--rine-shadow);
    display: flex;
    flex-direction: column;
}

.login-container {
    max-width: 92%;
    min-width: 25%;
    margin-top: 4vw;
}

.login-title-container, .mobile-login-title-container {
    background-color: black;
    border-radius: 0.75rem 0.75rem 0rem 0rem;
    text-align: center;
}

.login-title-container {
    padding: 1.5rem;
}

.mobile-login-title-container {
    padding: 3vw;
}

.login-form-container, .mobile-login-form-container {
    background-color: var(--rine-dark-blue);
    border-radius: 0rem 0rem 0.75rem 0.75rem;
    text-align: center;
}

.login-form-container {
    padding: 2rem;
}

.mobile-login-form-container {
    padding: 5vw;
}

.login-form-username, .login-form-password, .mobile-login-form-username, .mobile-login-form-password {
    font-size: inherit;
    width: 80%;
}

.login-form-username, .login-form-password {
    height: 2.5rem;
    padding-left: 0.5rem;
    padding-right: 0.2rem;
}

.login-form-username {
    margin-bottom: 1.5rem;
}

.login-form-password {
    margin-bottom: 2rem;
}

.mobile-login-form-username, .mobile-login-form-password {
    height: 8vw;
    padding-left: 3vw;
    padding-right: 3vw;
}

.mobile-login-form-username {
    margin-bottom: 3vw;
}

.mobile-login-form-password {
    margin-bottom: 5vw;
}

.login-form-submit-button, .mobile-login-form-submit-button {
    background-color: black;
    border: none;
    border-radius: 0.75rem;
    color: var(--rine-white);
    cursor: pointer;
    font-weight: bold;
    padding: 0.75rem;
}

.login-form-submit-button, .mobile-login-form-submit-button {
    font-size: inherit;
}

.error-container, .mobile-error-container {
    padding-top: 1rem;
    text-align: center;
}

.error-container {
    max-width: 92%;
    min-width: 25%;
}

.mobile-error-container {
    width: 90vw;
}
