/* PC */
.post-container {
    margin-top: 2rem;
    width: 30%;
}

.post-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.post-metadata-container {
    margin-bottom: 1rem;
}

.post-image {
    border-radius: 1rem;
    width: 100%;
}

/* mobile */
.mobile-post-container {
    margin-bottom: 2rem;
    width: 90%;
}
